{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ]
      ],
      "plugins": []
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ]
      ],
      "plugins": []
    }
  },
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-function-bind"
  ]
}
